:root {
  --sidebar-blue: rgb(28,148,211);
  --dashboard-grey: rgb(226,233,241);
  --project-yellow-side: rgb(227,176,48);
}

html {
  min-height: 100%;
  display: flex;
} 

body {
  margin: 0;
  font-family: sans-serif;
  flex: 1;
}

.container {
  height: max(100vh, 100%);
  display: grid;
  grid-template-areas: "sidebar header-one header-one"
                       "sidebar header-two header-two"
                       "sidebar projects   announcements-and-trending"
                       "sidebar projects   announcements-and-trending";
  grid-template-columns: 270px 3fr 1fr;
  grid-template-rows: 100px 140px 6fr 6fr;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
  background-color: var(--sidebar-blue);
  font-weight: bold;
  color: white;
}

.dashboard-icon {
  height: 40px;
  margin-right: 10px;
}

.dashboard-header {
  font-size: 2rem;
}
.sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar-items {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
  gap: 10px;
}

li {
  display:flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

ul {
  font-size: 1.4rem;
}

.icon {
  height: 20px;
  margin-right: 10px;
}

li > .icon {
  padding: 10px;
}

.header-one {
  grid-area: header-one;
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 0px 30px;
}

.searchbar-container {
  display: flex;
  align-items: center;
  flex: auto;
  margin-right: auto;
}

.searchbar {
  background-color: var(--dashboard-grey);
  border-radius: 30px;
  padding: 0px 20px;
  height: 30px;
  width: 70%;
  border: none;
  outline: none;
}

#searchbar:focus {
  border: solid 1px var(--sidebar-blue);
}

.header-icon {
  height: 40px;
}

.header-one-name {
  font-size: 1.2rem;
  font-weight: 700;
}
.header-two {
  grid-area: header-two;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.header-two-left {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr 3fr;
  min-width: 400px;
}

.three-buttons {
  display: flex;
  gap: 20px;
}

.avatar-main {
  height: 90px;
  flex: 0;
  border-radius: 90px;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 20px;
}

.hi-there {
  font-weight: 700;
}

.my-name {
  font-weight: 700;
  font-size: 2rem;
}
button {
  background-color: var(--sidebar-blue);
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
  height: 50px;
  width: 150px;
  border-radius: 40px;
}

.projects-container, .announcements-and-trending {
  background-color: var(--dashboard-grey);
  padding: 20px;
}
.projects-container {
  grid-area: projects;
  display:flex;
  flex-direction: column;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 30px;
  align-items: first;
}

.card {
  height: 200px;
  padding: 30px;
  border-radius: 10px;
  border-left: solid var(--project-yellow-side) 10px;
  background-color: white;
  position: relative;
}

.card-icons {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.announcements-and-trending {
  grid-area: announcements-and-trending;

}

.announcements-container {
}

.announcements{
  background-color: white;
  border-radius: 10px;
  padding: 10px 10%;
}

.announcement-item{
  border-bottom: solid 1px grey;
}

.announcement-item:last-child {
  border: 0px;
}

.trending-container {
}

.trending{
  padding: 10px 10%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-trending{
  display: flex;
  align-items: center;
}

.avatar {
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.handle {
  font-weight: 700;
}